<!doctype html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light"
  data-menu-styles="light" data-toggled="close">

<head>
  <!-- META DATA -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="Description" content="dveb" />
  <meta name="Author" content="Spruko Technologies Private Limited" />
  <meta name="keywords"
    content="dashboard, dashboard, Bootstrap dashboard, admin panel, sales dashboard, Bootstrap admin panel, stocks dashboard, crm admin dashboard, ecommerce admin panel, admin, admin panel dashboard, course dashboard, ecommerce website, dashboard hrm, admin dashboard" />

  <!-- TITLE -->
  <title>Yusuf Demir | Giriş Sayfası</title>

  <!-- FAVICON -->
  <link rel="icon" href="../../assets/images/brand-logos/logo-ico.png" type="icon" />

  <!-- BOOTSTRAP CSS -->
  <link id="style" href="../../assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- ICONS CSS -->
  <link href="../../assets/css/icons.css" rel="stylesheet" />

  <!-- STYLES CSS -->
  <link href="../../assets/css/styles.css" rel="stylesheet" />

  <!-- SweetAlert2 CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

  <!-- SweetAlert2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- MAIN JS -->
  <script src="../../assets/js/authentication-main.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.22/dist/sweetalert2.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.22/dist/sweetalert2.all.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css"
    integrity="sha512-MqL4+Io386IOPMKKyplKII0pVW5e+kb+PI/I3N87G3fHIfrgNNsRpzIXEi+0MQC0sR9xZNqZqCYVcC61fL5+Vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="background-color: #111c43">
  <div class="container">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
        <div class="d-flex justify-content-center">
          <a href="index.php.html">
            <img src="../../template/assets/aebff820fd4da79db61299c3ac69bd9a.png" alt="logo" class="desktop-logo"
              style="width: 320px;height: 200px;padding-right: 40px;padding-left: 30px;" />
            <img src="../../template/assets/aebff820fd4da79db61299c3ac69bd9a.png" alt="logo" class="desktop-dark" />
          </a>
        </div>
        <div class="card custom-card" style="background-color: rgb(240, 241, 247)">
            <div class="card-body p-5" style="margin-top: 50px; margin-bottom: 50px;">
              <p class="h5 fw-semibold mb-5 text-center">Yeni Şifre Belirle</p>
              <div class="row gy-4">
                
                <!-- E-posta Adresi -->
                <div class="col-xl-12">
                  <input type="email" class="form-control form-control-lg" id="email"
                    placeholder="E-posta adresinizi giriniz..." required />
                </div>
          
                <!-- Yeni Şifre -->
                <div class="col-xl-12">
                  <input type="password" class="form-control form-control-lg" id="new-password"
                    placeholder="Yeni şifrenizi giriniz..." required />
                </div>
              
                <!-- Yeni Şifre Tekrar -->
                <div class="col-xl-12">
                  <input type="password" class="form-control form-control-lg" id="confirm-new-password"
                    placeholder="Yeni şifrenizi tekrar giriniz..." required />
                </div>
              
                <!-- Kaydet Butonu -->
                <div class="col-xl-12 d-grid mt-2">
                  <button id="save-password-button" class="btn btn-lg btn-info">
                    Kaydet
                  </button>
                </div>
              </div>
            </div>
          </div>          

        <!-- SCRIPTS -->

        <!-- BOOTSTRAP JS -->
        <script src="../../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../axios/clear-password.js"></script>
</body>

</html>